{% extends "admin/base.html" %}
{% block title %}Add Machine{% endblock %}

{% block content %}
<style>
   .addnew{
  background-color: rgb(35, 35, 218);
  color:white;
  font-size: 18px;
  
 }
 .addnew:hover{
   background-color: rgb(71, 71, 223);
     color:white;
  font-size: 18px;
 }
 .form-label{
  font-size: 21px;
  font-weight: 500;
 
 }
 .form-control{
   border:2px solid #000000;
 }
 .header{
   color:#006d71 ;
 }
</style>

<h2 class="header">새 기계 추가</h2>
<form method="POST">
  <div class="mb-3">
    <label for="machine_id" class="form-label">
      <img src="{{ url_for('static', filename='id.png')}}" 
             alt="id" width="25" height="25" > 머신 ID</label>
    <input type="text" class="form-control " name="machine_id" id="machine_id" required>
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">
      <img src="{{ url_for('static', filename='vending-machine.png')}}" 
             alt="vending-machine" width="25" height="25" > 기계 이름</label>
    <input type="text" class="form-control" name="name" id="name" required>
  </div>
  <div class="mb-3 ">
    <label for="city" class="form-label">
      <img src="{{ url_for('static', filename='building.png')}}" 
             alt="city" width="25" height="25" > 도시</label>
    <input type="text" class="form-control"  name="city" id="city" required>
  </div>
  <div class="mb-3">
    <label for="lat" class="form-label">
      <img src="{{ url_for('static', filename='latitude.png')}}" 
             alt="lat" width="25" height="25" > 위도</label>
    <input type="number" step="0.000001" class="form-control" name="lat" id="lat" required>
  </div>
  <div class="mb-3">
    <label for="lng" class="form-label">
      <img src="{{ url_for('static', filename='longititude.png')}}" 
             alt="long" width="25" height="25" > 경도</label>
    <input type="number" step="0.000001" class="form-control" name="lng" id="lng" required>
  </div>
  <div class="mb-3">
    <label for="max_capacity" class="form-label">
      <img src="{{ url_for('static', filename='capacity.png')}}" 
             alt="capacity" width="25" height="25" > 최대 용량</label>
    <input type="number" class="form-control" name="max_capacity" id="max_capacity" required>
  </div>
  <button type="submit" class="btn btn-success addnew mb-3"><img src="{{ url_for('static', filename='plus..png')}}" 
             alt="plus" width="25" height="25" >   기계 추가</button>
</form>
{% endblock %}

